.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
}
@media screen and (min-width: 970px) {
  .contact {
    flex-direction: row;
  }
}
.contact h2 {
  font-weight: normal;
  font-size: 36px;
}
.contact__column {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  justify-content: center;
}
@media screen and (min-width: 970px) {
  .contact__column {
    width: 50%;
  }
}
.contact__column--left {
  background: #0a2b3f;
  color: #fff;
}
@media screen and (min-width: 970px) {
  .contact__column--left {
    padding-right: 40px;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 970px) {
  .contact__column--right {
    padding-left: 40px;
    justify-content: flex-start;
  }
}
.contact__content-wrapper {
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 970px) {
  .contact__content-wrapper--call-us {
    width: 450px;
  }
}
@media screen and (min-width: 970px) {
  .contact__content-wrapper--email-us {
    width: 400px;
  }
}
.contact__content {
  width: 100%;
  max-width: 100%;
}
.contact__content h2 {
  margin: 20px 0px;
}
.contact__details {
  margin: 20px 0px;
}
.contact__details p {
  font-size: 3rem;
  margin: 10px 0px;
}
.contact__form {
  width: 100%;
}
.contact .form {
  position: relative;
}
.contact .form__button {
  position: relative;
}
.contact .form__row {
  position: relative;
  margin: 20px 0px;
}
.contact .form__row--button-wrapper {
  text-align: right;
}
.contact .form__row input:not([type='checkbox']) {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.contact .form__input-invalid {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 80%;
  max-width: 100%;
  background: #ed1651;
  border: 1px solid #ed1651;
  color: #fff;
  padding: 5px 10px;
  font-size: .7rem;
  border-radius: 4px;
  z-index: 10;
  animation: .3s ease-out 0s 1 fadeIn;
}
.contact .form__input-invalid::before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 10px solid #ed1651;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
}
.contact .form__message {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0px;
}

.invalid {
  outline-color: #ed1651;
  background: url("../img/invalidinput.png") no-repeat center right;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
}
.invalid:focus {
  outline-color: #ed1651;
}

.valid {
  outline-color: #24ac6a;
  background: url("../img/validinput.png") no-repeat center right;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
}
.valid:focus {
  outline-color: #24ac6a;
}

.custom-checkbox {
  position: relative;
}
.custom-checkbox:hover {
  cursor: pointer;
}
.custom-checkbox:hover input ~ .custom-checkbox__checkmark {
  background-color: #eee;
}
.custom-checkbox input:checked ~ .custom-checkbox__checkmark:after {
  display: block;
}
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-checkbox__checkmark {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.custom-checkbox__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #ed1651;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.custom-checkbox__text {
  display: block;
  margin-left: 25px;
  font-size: 0.6rem;
  color: #6b6b6b;
  padding: 2px 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=contact.css.map */

@font-face {
  font-family: "Lato Black";
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  -webkit-transition: outline ease 0.5s;
  -moz-transition: outline ease 0.5s;
  -ms-transition: outline ease 0.5s;
  -o-transition: outline ease 0.5s;
  transition: outline ease 0.5s;
}
input:focus {
  outline-color: #0a2b3f;
}

.logo {
  background: #ed1651;
  color: #fff;
  padding: 20px;
  width: 310px;
  max-width: 100%;
}
.logo__text {
  font-size: 3rem;
}

.button {
  font-family: "Arial Black", sans-serif;
  padding: 2px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  color: #fff;
  -webkit-transition: opacity ease 0.5s;
  -moz-transition: opacity ease 0.5s;
  -ms-transition: opacity ease 0.5s;
  -o-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
  background: #ed1651;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f05a69 49%, #ed1651 51%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f05a69 49%, #ed1651 51%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f05a69 49%, #ed1651 51%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$button-shadow-color, endColorstr=$button-color, GradientType=0);
  /* IE6-9 */
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.button:active, .button:focus {
  outline-color: #f05a69;
}

/*# sourceMappingURL=index.css.map */
